html
	head
		link(rel="stylesheet", href="css/styles.css")
		title Register
body
	include partials/header

	div#main
		h1 Please Register your new Account!
		p Please enter Username and password

		form(action="/users" method="post")
			label Name 
			input(type="text" name="username" required="required")
			br
			label Pass 
			input(type="password" name="password" required="required")
			br
			br
			button(type="submit") Register
			
	include partials/footer